<p>Er schijnt niets boven Groningen te gaan. En technisch klopt dat ook wel, want aan de noordkant van de provincie krijgt men vooral natte voeten en vinden wij de grens. Groningen is een van de provincies in Nederland waar de hoofdstad en de naam van de provincie dezelfde naam hebben.</p>
<h2>Bischop van Utrecht</h2>
<p>De oudst bekende vermelding van de stad Groningen dateert uit 1040. De stad was op dat moment in ieder geval nominaal bezit van de bisschop van Utrecht. Aangenomen wordt dat de stad van origine een Drents dorp was. De stad werd ook bewoond door Friezen. De stad had oorspronkelijk enige concurrentie van Appingedam, maar nadat de stad er in geslaagd was om het stapelrecht te verwerven was de dominante positie gevestigd.</p>
<h2>Lekkere trek</h2>
<p>Of je nu de <strong>lekkere trek</strong> of gewoon je honger wilt stillen, kan dat in de <strong>provincie Groningen<strong>, met een van de Groningse streekproducten en streekgerechten. De meest bekende zijn uiteraard spekdikken, Groninger koek en poffert.</p>
<h2>De Dollard</h2>
<p>De grens van Nederland en Duitsland loopt door de Dollard. De twee landen verschillen echter van mening over de exacte loop van die grens. Volgens de Nederlandse opvatting loopt die grens vanaf Nieuwe Statenzijl recht naar de Eems om daar het midden van de stroom te volgen. Volgens de Duitse opvatting is de volledige Dollard Duits grondgebied, tot de westenlijke oever aan toe.</p>
<p>Dit verschil in grensbepaling is al honderen jaren oud en is tot de dag van vandaag een vraagstuk. Na de Tweede Wereldoorlog was er in 1945 de mogelijk om de grenzen definitief vast te stellen en eventueel te corrigeren. Geen van de partijen heeft daar echter gebruik van gemaakt.</p>
<h2>Groningen heeft het</h2>
<p>Als we afgaan op de slagzin <strong>Er gaat niets boven Groningen</strong> zijn de verwachtingen hoog. Wij hebben natuurlijk geen ambities in de slagzinnen bussiness, maar mochten wij een slagzin bedenken dan zouden wij gaan voor <strong>Groningen heeft het</strong>. En wat dat <em>het</em> dan moet zijn, is ook voor ons nog een mysterie. Maar het is zeker in Groningen te vinden. Net als de <strong>Groninger Koek</strong></p>
<h3>Appingedam</h3>
<p>Appingedam oogt tegenwoordig nog onmiskenbaar als een stadje. In het centrum zijn nog vele van oorsprong middeleeuwse panden te bewonderen. De bekendste bezienswaardigheden zijn de middeleeuwse Nicolaïkerk (opgenomen in de Top 100 van de Rijksdienst voor de Monumentenzorg), het ertegenaan gebouwde renaissancistische Raadhuis en boven het Damsterdiep drie hangende keukens en twee smalle bruggetjes.</p>
<p>Als je klaar bent met rondlopen, loop dan een van de oude barretjes binnen. Je gaat soms terug in de tijd en je kan de oude edelmannen nog bijna ruiken. Maar het kan dan ook nog gaan om een schrale bierlucht van de avond daarvoor.</p>
<h3>Groningen</h3>
<p>Als je in de provincie Groningen bent, moet je ook zeker de <strong>gemeente Groningen</strong> opzoeken. Het oude centrum en de vele monumenten bieden genoeg mogelijkheden om eens cultureel helemaal los te gaan.</p>
<p><strong>De Martinitoren</strong>, gelegen aan de Grote Markt, is de bekendste en met zijn 96,8 meter ook de hoogste toren van de stad Groningen.</p>
<p>De lokale bevolking heeft het zelf overigens liever over <strong>De oude Grijze</strong>. Maar dat neemt niemand ze verder echt kwalijk.</p>
<h3>Groningen Airport</h3>
<p>Onbekend maakt misschien wel onbemind. Groningen beschikt over een klein vliegveld. De luchthaven wordt aangedaan door een aantal luchtvaartmaatschappijen: Transavia, Corendon, Arkefly, Flybe,Wizz Air en Aegean Airlines.</p>
<p>In 2013 kwam het landelijk in het nieuws vanwege een gevonden bom uit de Tweede Wereldoorlog. Deze is afgevoerd en later tot ontploffing gebracht.</p>
<h2>Groningen in lijstjes</h2>
<p>Als je graag lijstjes instudeert</p>

<dl class="dl-horizontal">
    <dt>Provincie hoofdstad</dt>
    <dd>Groningen</dd>
    <dt>Oppervlakte (totaal)</dt>
    <dd>2.960,03 km²</dd>
    <dt>Oppervlakte (land)</dt>
    <dd>2.333,28 km²</dd>
    <dt>Oppervlakte (water)</dt>
    <dd>626,75 km²</dd>
    <dt>Aantal inwoners</dt>
    <dd>582.161(in het jaar 2012)</dd>
    <dt>Bevolkingsdichtheid</dt>
    <dd>250 inw./km²</dd>
</dl>