<p>De provincie Utrecht is de meest centrale provincie in Nederland. De stad Utrecht heeft met zijn centrale ligging dan ook een belangrijk spoorknooppunt. Gaat het hier mis, dan is het effect over het hele land merkbaar. Ook zijn de evenementenhallen in Utrecht een druk bezochte trekpleister voor veel grote evenementen.</p>
<h2>Hoog Catharijne</h2>
<p>Dit complex is te vinden in de <strong>stad Utrecht</strong>. Pal naast <strong>Hoog Catharijne</strong> vind men het Jaarbeursplein en de Jaarbeurshallen.</p>
<p>Het complex bevat een sporthal en bioscoop Catharijne van de Wolff Cinema Groep. Het is in handen van beleggingsinstelling Corio, eigenaar van verscheidene grote winkelcentra in Nederland. De Utrechtse vestiging van Vroom & Dreesmann en het Centraal Station maken officieel ook onderdeel uit van Hoog Catharijne, maar behoren niet toe aan dezelfde eigenaar.</p>
<p>In 1969 worden de eerste kantoren opgeleverd, in 1970 was de traverse tussen het station en de Jaarbeurs gereed. Rond die tijd verschijnen in de Muurkrant felle aanklachten tegen de komst van Hoog Catharijne. Op 24 september 1973 wordt Hoog Catharijne officieel geopend door prinses Beatrix. Duizenden inwoners protesteerden die dag op straat.[3] Vlak na de bouw was Hoog Catharijne het grootste overdekte winkelcentrum van Europa.</p>
<h2>Utrecht voor toeristen</h2>
<p>Toeristen in Utrecht hoeven zich niet te vervelen. Niet in de stad utrecht, maar zeker ook niet in de provincie. Als je los wilt gaan, dan moet je naar Utrecht. En zorgen dat je er lang genoeg kan blijven om alles te zien, beleven en te voelen wat Utrecht is.</p>
<h3>Utrecht (stad)</h3>
<p>De stad Utrecht moet je gezien hebben. Het imposante station en <strong>Hoog Catharijne</strong> zijn alleen al een reden om het centrum te bezoeken. Of anders een van de vele beurzen en evenementen die gehouden worden in de Jaarbeurshallen. Deze zijn goed te bereiken met het openbaar vervoer. De trein stopt naast de <strong>Jaarbeurs in Utrecht</strong>. Voor automobilisten is er ruim voldoende parkeergelegenheid op een van de gigiantische parkeervelden rondom de Jaarbeurs.</p>
<h3>Haarzuilens</h3>
<p>Haarzuilens was onder de naam De Haar sinds de middeleeuwen een eigen heerlijkheid. Na de Bataafse Revolutie van 1795 waren er een aantal wijzigingen tot op 1 januari 1812 Haarzuilens deel ging uitmaken van de gemeente Vleuten. Tegenwoordig valt Haarzuilens onder de gemeente Utrecht.</p>
<p>Zeg je Haarzuilens dan zeg je meteen <strong>Kasteel de Haar</strong> of <strong>Het Huys te Haer</strong>. Het is het grootste kasteel van Nederland. Het werd vanaf 1892 op de ruïne van het oude kasteel herbouwd in neogotische stijl. Naast het kasteel staat een kapel.</p>
<p>Het kasteel en het landgoed is vaak opengesteld voor verschillende evenementen. Waarschijnlijk is de meest bekende de <strong>Elf Fantasy Fair</strong>, een groot evenement voor fans van Fantasy, LARP en Gothic.</p>
<h2>De provincie in cijfers</h2>
<p>Utrecht is te mooi en te groot om het te reduceren tot een paar getallen. Daarom moet je het gewoon gaan beleven en opzoeken. Maar, als je er heen gaat, zorg dan wel dat je weet wat de hoofdstad is. En als je je reisgezelschap wilt imponeren met je kennis over de bevolkingsdichtheid, onthoud dan onderstaande lijst goed!</p>
<dl class="dl-horizontal">
    <dt>Provincie hoofdstad</dt>
    <dd>Utrecht</dd>
    <dt>Oppervlakte (totaal)</dt>
    <dd>1.449,12 km²</dd>
    <dt>Oppervlakte (land)</dt>
    <dd>1.417,50 km²</dd>
    <dt>Oppervlakte (water)</dt>
    <dd>64,1 km²</dd>
    <dt>Aantal inwoners</dt>
    <dd>1.243.161 (in het jaar 2012)</dd>
    <dt>Bevolkingsdichtheid</dt>
    <dd>898 inw./km²</dd>
</dl>