<div id="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <h4>In onderhoud</h4>
                <p>
                    Wij zijn bezig met een splinternieuw platform op te zetten. Dat kost tijd. De komende weken zal de website daarom nog in groot onderhoud zijn. Maar, kom zeker nog een keertje langs om de voortgang te meten!
                </p>
            </div>

            <div class="col-lg-4">
                <h4>Locaties of Lokaties</h4>
                <p>
                    <strong>Locaties</strong> heeft onze voorkeur boven <strong>Lokaties</strong>.
                    Het Groene Boekje en het <a href="https://onzetaal.nl/taaladvies/advies/locatie-lokatie">Genootschap Onze Taal</a> delen gelukkig dezelfde mening.
                </p>
            </div>

            <div class="col-lg-4">
                <h4>Waarom Locatie Informatie</h4>
                <p>Wij delen graag onze kennis en ervaring met de rest van de wereld. Maar wij geloven er ook in dat de wereld elkaar wilt helpen. Zorg daarom dat je ons in de gaten houd en ambasadeur wordt van jouw eigen stad! </p>
            </div>
        </div>

    </div>
</div>