<div class="navbar navbar-inverse navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path('stef_locatie_informatie_homepage') }}">LOCATIE INFORMATIE</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{{ path('stef_locatie_informatie_locaties_or_lokaties') }}">Locatie / Lokatie</a></li>
                <li><a href="{{ path('stef_locatie_informatie_province_info', {'provinceSlug' : 'zuid-holland'}) }}">Info Zuid-Holland</a></li>
            </ul>
        </div>
    </div>
</div>