{% extends "StefLocatieInformatieBundle::freelayout.html.twig" %}

{% block htmlbody %}
    <div id="ww">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 centered">
                    <h1>Informatie over elke locatie</h1>
                    <p>Wij bieden een overzicht van alle plaatsen en gemeenten in Nederland, maar ook een overzicht van alle postcodes. Deze overzichten kan je daarom makkelijk gebruiken om even snel een postcode op te zoeken of snel zien welke plaatsnamen er precies in een bepaalde gemeente vallen. Handig!</p>

                </div>

                <div class="col-lg-8 col-lg-offset-2 centered">
                    <h2>Achtergronden bij de plaatsen</h2>
                    <p>Elke plaats of gemeente heeft wel een leuk kroegje, fraaie bioscoop of een parkje dat iemand gezien moet hebben. Help ons mee om jouw eigen stad te promoten en jouw favoriete plekjes met de wereld te delen!</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container pt">
        <div class="row mt centered">
            <div class="col-lg-4">
                <a class="zoom green" href="work01.html"><img class="img-responsive" src="assets/img/portfolio/port01.jpg" alt="" /></a>
                <p>APE</p>
            </div>
            <div class="col-lg-4">
                <a class="zoom green" href="work01.html"><img class="img-responsive" src="assets/img/portfolio/port02.jpg" alt="" /></a>
                <p>RAIDERS</p>
            </div>
            <div class="col-lg-4">
                <a class="zoom green" href="work01.html"><img class="img-responsive" src="assets/img/portfolio/port03.jpg" alt="" /></a>
                <p>VIKINGS</p>
            </div>
        </div><!-- /row -->
        <div class="row mt centered">
            <div class="col-lg-4">
                <a class="zoom green" href="work01.html"><img class="img-responsive" src="assets/img/portfolio/port04.jpg" alt="" /></a>
                <p>YODA</p>
            </div>
            <div class="col-lg-4">
                <a class="zoom green" href="work01.html"><img class="img-responsive" src="assets/img/portfolio/port05.jpg" alt="" /></a>
                <p>EMPERORS</p>
            </div>
            <div class="col-lg-4">
                <a class="zoom green" href="work01.html"><img class="img-responsive" src="assets/img/portfolio/port06.jpg" alt="" /></a>
                <p>CHIEFS</p>
            </div>
        </div><!-- /row -->
    </div><!-- /container -->
{% endblock %}