<p>De eerste vermelding van Drenthe is gevonden in een document uit het jaar 820 waarin wordt gesproken van de pago Treanth, de gouw Drenthe.</p>
<p>Bij de oprichting van het Verenigd Koninkrijk der Nederlanden in 1815 werd het de provincie die wij tegenwoordig kennen. Drenthe kent veel uitgestrekte heidegrond, de <strong>Drentse hei</strong> is dan ook een zeer bekende uitdrukking.</p>
<h2>Maakbare samenleving</h2>
<p>In Drenthe vinden we nog veel sporen uit de tijd waarin men dacht dat de samenleving maakbaar was. De armen en minder bedeelden kregen, als ze niet te associaal waren, een nieuwe kans op plekken als <strong>Frederiksoord</strong>. Hier werden kleine, streng gecontroleerde regimes ingesteld en opgebouwd om de mens zo volmaakt mogelijk te kunnen laten functioneren. Hoewel de bedoelingen uiteraard goed waren, was de uitvoering een stuk minder rooskleurig.</p>
<p>Nadat in 1818 de <strong>Maatschappij van Weldadigheid</strong> werd opgericht, begon men met het instellen van kolonies in Frederiksoord, <strong>Wilhelminaoord</strong> en <strong>Willemsoord</strong>. Ook op andere plekken in Drenthe kwamen kolonies op om degene die een nieuwe toekomst verdienden, een kans te geven. Later kwamen er ook strafkolonies bij om men discipline en tucht bij te brengen. De maatschappij bestaat nog wel. In de voormalige kolonies wonen ook nog wel mensen. Maar na 1911 is het koloniseren van Drenthe en het heropvoeden met strafkolonies gestaakt. In plaats van vreugde en geluk, bleek het voor de kolonisten een vreselijke tijd. Er was (zeker voor die tijd) genoeg voedsel en een goede medische zorg voorhanden. Maar de vrije wil was de prijs die iedereen in de kolonie moest betalen.</p>
<h2>Kamp Westerbork</h2>
<p>Voormalig Kamp Westerbork is nog steeds als een puist te vinden in Drenthe. Oorspronkelijk gebouwd om Joodse vluchtelingen uit Duitsland op te vangen, later (tijdens de bezetting) maakte diezelfde Duitsers dankbaar gebruik van de mogelijkheden die het kamp hen gaf. Na de oorlog is het kamp nog gebruikt om krijgsgevangenen, landveraders en (in de jaren 60) Molukkers te huisvesten. Tegenwoordig is er een herinneringsmuseum van het kamp. De originele barakken zijn intussen afgebroken.</p>
<h2>Lekker weg in Drenthe</h2>
<p>Cultuur, zon en heide. Dat maakt Drenthe een prachtig gebied om te ontspannen en te genieten van het vrije leven. Als je in Drenthe bent, bezoek dan zeker het voormalige kamp (vlakbij Hooghalen) om die vrijheid nog even te voelen, maar om vooral te zien hoe het was toen er even geen vrijheid was.</p>
<h3>Borger</h3>
<p>Als liefhebber van natuur, oudheden en (lokale) wereldwonderen, is een bezoekje aan <strong>Borger</strong> de moeite waard. Je loopt hier door een prachtig natuurgebied en je maakt kennis met de charme van de hei van Drenthe en als klap op de vuurpijl kan je een echt <strong>Hunebed</strong> bewonderen.</p>
<h3>Assen</h3>
<p>Wereldberoemd om zijn jaarlijkse TT op het circuit van Assen. Jaarlijks trekken talloze snelheidsduivels en bewonderaars van de autosport naar Assen om een kijkje te nemen op de <strong>TT van Assen</strong>. Wel even opletten, na afloop staat de bonnenbrigade bij de uitgang met een lasergun. Zorg dus dat je, als je behoort tot de happy few, bij het verlaten van het circuit weer op je snelheidsmetertje kijkt!</p>
<h3>Emmen</h3>
<p>Emmen kennen wij vooral vanwege de gigantische dierentuin. Houd er wel rekening mee dat een bezoek aan <strong>Dierenpark Emmen</strong> je al een volle dag kost. Als je meer wilt zien in Drenthe is een meerdaags bezoek wel aan te raden, maar ook moet ik zeggen: <em>Je bent niet in Drenthe geweest, als je niet door het dierenpark hebt gesjeesd!</em>.</p>
<h3>Barger-Compascuum</h3>
<p>Het stikt in Drenthe van de openluchtmusea waar de veenindustrie tot leven komt en het zien van plaggenhutten en oude Drentse boerderijen van binnen te bewonderen zijn. Een van die pareltjes is het <strong>Veenpark</strong> in <strong>Barger-Compascuum</strong></p>
<p>Je rijdt en vaart er door nostalgische dorpen en een natuurlijk hoogveengebied met echte turfafgraving. De bakker, de kruidenier, de klompenmaker en de turfsteker zijn er elke dag aan het werk.</p>
<h3>Coevorden</h3>
<p>Tot slot moet je naar Coevorden. Altans, als je de beschikking hebt over kleine kinderen in de <strong>Studio100</strong> leeftijd. In dat geval moet je zeker een bezoekje brengen aan <strong>Plopsaland</strong>. Alle figuren uit het Studio100 universum zijn daar te vinden.</p>
<h2>Drenthe in cijfers</h2>
<p>Ben jij van het type <strong>cijfers maken de man</strong> (of vrouw natuurlijk!), dan zijn onderstaande lijstjes zeker iets voor jou! Lees ze door, deel het op facebook en vergeet ze nooit meer. Dan ben jij de held bij het volgende potje triviant!</p>

<dl class="dl-horizontal">
    <dt>Provincie hoofdstad</dt>
    <dd>Assen</dd>
    <dt>Oppervlakte (totaal)</dt>
    <dd>2.680,37 km²</dd>
    <dt>Oppervlakte (land)</dt>
    <dd>2.641,09 km²</dd>
    <dt>Oppervlakte (water)</dt>
    <dd>39,28 km²</dd>
    <dt>Aantal inwoners</dt>
    <dd>489.912 (in het jaar 2012)</dd>
    <dt>Bevolkingsdichtheid</dt>
    <dd>185 inw./km²</dd>
</dl>