<p>In de voormalige Zuiderzee heeft men begin 20e eeuw gevochten tegen water en uiteindelijk gewonnen. Het resultaat was de <strong>Noordoostpolder</strong> en de Flevopolder. Binnen de polders zijn ook nog de voormalige eilanden Urk en Schokland te vinden.</p>
<p>Ruim 40 jaar baggeren en ploeteren. Maar wat een resultaat!</p>
<p>Oorspronkelijk zou er nog een polder worden gemaakt. Na afronding van de Flevopolder heeft men daar verder van afgezien en is er het Markermeer de enige stille getuige van een niet uitgevoerd megaproject.</p>
<h2>Ere wie ere toekomt</h2>
<p>Als je echt iemand bent, blijf je voortleven als provincie hoofdstad. In elk geval is <strong>Cornelis Lely</strong> dat gelukt. Als politicus en waterbouwkundige was hij de geestelijk vader van de <strong>Zuiderzeewerken</strong>, waaruit alle polders zijn ontstaan. Lely ontwierp in 1891 een eerste concept van zijn plan voor de afsluiting van de Zuiderzee, waarop deze binnenzee uiteindelijk in 1932 door de Afsluitdijk definitief werd afgesloten en het huidige IJsselmeer ontstond.</p>
<p>Cornelis overleed op 74 jarige leeftijd in 1929. De drooglegging van het Wieringermeer (1930)en het afsluiten van de Afsluitdijk (1932) heeft hij niet meer meegemaakt. Maar, zijn naamt leeft voort. Vanwege zijn verdiensten voor de bouw van de Flevopolders, maar ook omdat zijn naam is verbonden met de grootste stad in diezelfde polder. Lelystad.</p>
<p>In 1891 voltooide hij zijn plan om van de Zuiderzee een veilige haven te maken en watersnoden buiten de deur te houden en het inpolderen van stukken land.</p>
<h2>Doen in Flevoland</h2>
<p>Flevoland heeft een aantal trekkers die iedereen wel kent. En als je ze niet kent, blijf nog even lezen want dan heb je voor komende zomer zeker nog wat te doen. </p>
<p>Ga je voor de hoogste achtbaan of het hardste festival? Flevoland heeft het allemaal!</p>
<h3>Biddinghuizen</h3>
<p>Biddinghuizen zelf is waarschijnlijk net zo spannend als Nergenshuizen. Maar deze plaats is wel verbonden met zaken waar vooral jongeren op af komen. Als je in het derde weekend van augustus toevallig in de buurt bent, dan baal je waarschijnlijk dat je je niet eerder had bedacht dat je er zou zijn. Anders had je vast gezorgd voor <strong>Lowlands</strong> kaarten. Lowlands is er voor iedereen, als je maar hip genoeg bent. En iedereen is hip. De alternatieven onder ons, maar ook de hipsters, de gabbers en de blondies. Maar als je niet tot voorgaan groepen hoort kom je daar ook wel aan je trekken. Lowlands, dat moet je gewoon beleven.</p>
<p>Na de culturele(?) en muzikale overdosis die je op Lowlands hebt mogen meemaken, is het misschien tijd om even de rust te pakken. Op zoek naar je spirituele ik. En als je daar hulp bij nodig hebt, kan je altijd aankloppen bij het andere evenement dat in Biddinghuizen wordt gehouden. <strong>Opwekking</strong>. Ja, Flevoland verlicht lichaam en geest! Hallelujah!</p>
<p>Voor de echte festival-junkie die niet van ophouden weet, kan weer terugkomen op het festivalterrein tijdens <strong>Defqon-1</strong>. Ze draaien er uren achter elkaar de beste en nieuwste dance, dance en dance. Drie dagen lang housen en uit je bol. Lets go!</p>
<p>Tussen al het festival geweld door kan je ter ontspanning ook het festival verlaten. Even je hoofd leegmaken tijdens een ritje in de<strong>El Rio Grande</strong>. Precies! De houten achtbaan in het pretpark met de meeste (voormalige) namen in Nederland. Tegenwoordig heet het <strong>Walibi Holland</strong>, maar velen zullen zich de naam <strong>Six Flags</strong> of gewoon <strong>Walibi Flevo</strong> beter herinneren. Ben je van een aantal generaties terug, dan denk je nog aan de naam <strong>Flevohof</strong>, waarmee het in 1971 allemaal begon. Maar welke naam je ook kent, het spectakel blijft.</p>
<h2>Wereldjamboree</h2>
<p>In 1995 waren er duizenden Scouts uit de hele wereld naar Biddinghuizen getrokken. Of eigenlijk, toen had men het eigenlijk over Dronten. Op de Wereldjamboree was het een groot weerzien en afzien voor vele jonge mensen en oudere jongeren. Pioneren, kampvuurtje stoken en vooral kennis maken met Akela's uit het Verre Oosten en het Wilde Westen.</p>
<h2>Weetjes over Flevoland</h2>
<p>Over Flevoland raak je maar niet uitgepraat. Mocht je ooit in gezelschap de blits willen maken en laten zien dat jij genoeg weet over Nederland (en dan met name Flevoland), neem dan onderstaande feiten goed door en zorg dat je ze nooit meer vergeet!</p>

<dl class="dl-horizontal">
    <dt>Provincie hoofdstad</dt>
    <dd>Lelystad</dd>
    <dt>Oppervlakte (totaal)</dt>
    <dd>2.412,30 km²</dd>
    <dt>Oppervlakte (land)</dt>
    <dd>1.417,50 km²</dd>
    <dt>Oppervlakte (water)</dt>
    <dd>994,8 km²</dd>
    <dt>Aantal inwoners</dt>
    <dd>397.772 (in het jaar 2012)</dd>
    <dt>Bevolkingsdichtheid</dt>
    <dd>281 inw./km²</dd>
</dl>