<p>Firesland is niet alleen bekend van <strong>Elfstedentocht</strong>. Het is daarnaast de enige provincie met een eigen taal. Het Fries is naast het Nederlands ook erkend als taal. Deze taal wordt in de provincie ook gebruikt binnen bestuursorganen, het onderwijs en de rechtspraak.</p>
<h2>Eigen TLD</h2>
<p>Friesland heeft sinds 2014 de beschikking over een eigen TLD. Een TLD, <em>Top Level Domain</em>, is het achtervoegel wat men achter een internetadres tikd. Voor <strong>LocatieInformatie.nl</strong> is NL het TLD. Andere voorbeelden van een TLD zijn dus .COM, .EU en .DE.</p>
<p>Sinds 2 februari 2015 is het mogelijk om de eerste domeinen aan te vragen die eindigen op <strong>frl</strong>. Inwoners van Friesland en ondernemers uit de provincie hebben voorrang op de domeinen binnen het TLD. Vanaf 14 april 2015 is het TLD algemeen aan te vragen.</p>
<h2>Nieuwe inwoners</h2>
<p>Nieuwe inwoners van de provincie krijgen een uitgebreid welkomspakket om zo Friesland beter te leren kennen. Het bevat onder meer een brief, beeld en geluidsmatriaal en een vertaalde <em>Suske en Wiske</em>. Het hele stripalbum is vertaald vnauit het Nederlands naar de <strong>Friese taal</strong>.</p>
<h2>Uit in Friesland</h2>
<p>Friesland heeft meer te bieden dan alleen de Elfstedentocht. En dat is maar goed ook, want sinds 1997 is de <strong>tocht der tochten</strong> niet meer gereden. Wij geven hier graag een overzicht van de leukste uitstapjes die je in de provincie kan doen.</p>
<h3>Leeuwarden</h3>
<p>In je bezoek aan de provincie mag je de hoofdstad zeker niet overslaan. Leeuwarden heeft tal van parken waar je kan genieten van de zon en het buitenleven. Dus loop zeker een middag door de <strong>Prinsentuin</strong> het <strong>Rengerspark</strong> of het <strong>Abbingapark</strong>. Deze, en de andere stadsparken zijn de moeite waard en maken je bezoek al meer dan goed.</p>
<p>Als je je beter thuisvoelt tussen historische relikwieën, is een bezoek aan een van de vele mussea in de stad een echte aanrader. Wat dacht je van het <strong>Pier Pander Museum</strong> dit museum is in Leeuwarden voor de artistieke nalatenschap van de Friese beeldhouwer Pier Pander (1864-1919). De totstandkoming van het Pier Pander Museum in Leeuwarden in 1954 is aan Nicolaas Petrus de Koo te danken.</p>
<p>Als je een liefhebber bent van keramiek, is een bezoek aan de <strong>Princessehof</strong> zeker ook de moeite waard. Dit keramiekmuseum heeft een uitgebreide collectie keramiek uit lang vervlogen tijden.</p>
<h3>Kollumerzwaag</h3>
<p>Wat is er nou meer ontspannen dan een middagje vissen? Als je een echte sportvisliefhebber bent, moet je zeker eens je hengels uitgooien in de <strong>Forelpoel</strong> in het <strong>Friese Kollumerzwaag</strong>. Garanties geven op een goede vangst is natuurlijk lastig, maar ooggetuigen beweren dat er niemand zonder vangst het meer weer verlaat.</p>
<h3>Kuststrook</h3>
<p>Watersporters kunnen hun hart ophalen langs de kuststrook van Friesland. Zowel de noordkant (Waddengebied) als de westkant (IJsselmeer) zijn beroemd en berucht om de waterrecreatie. Op tal van plekken kan je uitvaren en zeilen op het IJsselmeer. De echte kerels fiksen wel iets aan de noordkant en gaan langs het waddengebied de zee op. Ook zijn er verschillende mogelijkheden om met hengels en al een boot op te zoeken en middden op het IJsselmeer te vissen.</p>
<h2>Feitjes over Friesland</h2>
<p>Met 194 inwoners per vierkante kilometer is Friesland de dunstbevolkte provincie van ons land. En dat is ook niet zo gek, Friesland heeft in tegenstelling tot veel andere provincies nog veel dorpskernen. Het aantal echt grote steden zijn op 1 hand te tellen. Ook is er veel landbouwgrond. Kijk in het onderstaande lijstje voor meer boeiende statistieken over deze rustige provincie.</p>
<dl class="dl-horizontal">
    <dt>Provincie hoofdstad</dt>
    <dd>Leeuwarden</dd>
    <dt>Oppervlakte (totaal)</dt>
    <dd>5.748,74 km²</dd>
    <dt>Oppervlakte (land)</dt>
    <dd>3.341,70 km²</dd>
    <dt>Oppervlakte (water)</dt>
    <dd>2.407,04 km²</dd>
    <dt>Aantal inwoners</dt>
    <dd>647.239 (in het jaar 2012)</dd>
    <dt>Bevolkingsdichtheid</dt>
    <dd>194 inw./km²</dd>
</dl>