<p>De naam Limburg wordt pas gebruikt sinds 1815. Het gebied dat wij nu Limburg noemen was tot die tijd een verzameling van kleinere gebieden die onder het <strong>Hertogdom Limburg</strong> vielen. De naam Limburg is niet heel toevallig gekozen. Het verwijst naar de plaats Limbourg (vlakbij Luik, Belgie) waar de kasteelheer zijn bescheiden optrekje has staan.</p>
<h2>Vervlogen tijden</h2>
<p>Het grondgebied van het huidige Limburg was vanaf de vroege Middeleeuwen meestal verdeeld tussen het Hertogdom Brabant, Hertogdom Gelre, Hertogdom Gulik, het Prinsbisdom Luik, de prins-bisschop van Keulen en het middeleeuwse Hertogdom Limburg. Conflicten in deze regio werden dikwijls op Limburgs gebied uitgevochten wat zo dan ook mede de oorzaak was aan de versnippering van het gebied.</p>
<p>De Fransen namen Limburg (zowel in het tegenwoordige Nederland als Belgie) in aan het einde van 18e eeuw. </p>
<h2>Cultuur en plezier in Limburg</h2>
<p>In Limburg zijn tal van activiteiten en uitjes die je kan ondernemen. Als je gaat voor mooie binnensteden of gewoon lekker de toerist uit hangen, ga dan zeker even langs Maastricht of Valkenburg. Wil je meer dan alleen genieten van de omgeving en de stad, dan hebben we nog een paar tips voor je,</p>
<h3>Overloon</h3>
<p>Overloon is bekend om zijn oorlogsmuseum. Tijdens de Tweede Wereldoorlog is er flink gevochten i nde <strong>Slag om Overloon</strong>. Het verhaal van deze gebeurtenis wordt verteld in een (deels buiten) museum waar de achtergebleven pantserwagens de stille getuigen zijn. Als je naast al het oorlogsgeweld nog zin hebt om het beest in je te ontdekken, kijk dan of je aansluiting kan vinden met de inwoners van de de <strong>dierentuin in Overloon.</strong></p>
<h3>Valkenburg</h3>
<p>Een middag wandelen door Valkenburg is het hoogste dat een mens kan bereiken. Door het oude centrum heen staan tal van oude Verdedigingsbouwwerken, (kleine) forten en toeganspoorten tot de oude stad. Je vergeet helemaal dat je in Nederland bent en je kijkt je ogen uit. Als je buiten klaar bent kan je altijd nog naar binnen. Bezoek dan een van de vele mergelgrotten die open zijn voor publiek.</p>
<p>Bij goed terrasweer is het overigens aan te raden om ook regelmatig een pauze in te lassen en te genieten van het uizicht, het lekkere weer, een abdijbiertje en de Valkenburgse gastvrijheid.</p>
<h3>De Peel</h3>
<p>Vlakbij de plaats America, op de grens van Brabant en Limburg ligt de Peel. Dit heeft zijn karakter gekregen mede door het turfsteken. Na verloop van tijd nam de vervening toe en kreeg het landschap zijn huidige vorm. Een prachtig veengebied, de moeite waard om een flinke wandeling te maken</p>
<h2>Feitjes van Limburg</h2>
<p>Naast alle uittips zijn er over Limburg ook nog wat kleine feitjes te vermelden. De belangrijkste hebben we speciaal voor jou hieronder op een rijtje gezet.</p>

<dl class="dl-horizontal">
    <dt>Provincie hoofdstad</dt>
    <dd>Maasstricht</dd>
    <dt>Oppervlakte (totaal)</dt>
    <dd>2.209,22 km²</dd>
    <dt>Oppervlakte (land)</dt>
    <dd>2.150,87 km²</dd>
    <dt>Oppervlakte (water)</dt>
    <dd>58,35 km²</dd>
    <dt>Aantal inwoners</dt>
    <dd>1.121.483 (in het jaar 2012)</dd>
    <dt>Bevolkingsdichtheid</dt>
    <dd>521 inw./km²</dd>
</dl>