<p>Noord-Brabant, in Nederland vaak verkort tot Brabant is een provincie in het zuiden van Nederland. De hoofdstad van de provincie is 's-Hertogenbosch (Den Bosch), de grootste stad is Eindhoven.</p>
<p>De provincie is vooral berucht tijdens de Carnavalsperiode. Het openbare leven gaat plat en het is een aantal dagen feest. Totaal ondenkbaar op plaatsen <strong>boven de rivieren</strong> zoals Brabanders de noordelijke provincies aanduiden.</p>
<h2>Oeteldonk</h2>
<p>Tijdens het (brabantse) carnaval worden verschillende steden overgedragen aan de carnavalsverenigingen. Na de overdracht van het gezag neemt de stad ook vaak een andere naam aan. Zo krijgt <strong>'s-Hertogenbosch</strong> elk jaar de naam <strong>Oeteldonk</strong>.</p>
<h2>Kunst in Brabant</h2>
<p>In 1999 werd een verzameling ondergebracht in een stichting, en tentoongesteld in het <strong>Museum Van Lien</strong>, waaraan ook een galerie is verbonden. Er woorden daarnaast ook lezingen gegeven en wisselende tentoonstellingen gehouden. Naast dit museum uit <strong>Fijnaart</strong> zijn er nog een aantal pareltjes te vinden die gezien mogen worden.</p>
<p>Denk bijvoorbeeld aan <strong>Het Museum voor Religieuze Kunst</strong> in <strong>Uden</strong>. De (in 1973) nog bescheiden collectie werd tentoongesteld in een vrijgemaakte vleugel van de abdij Maria Refugie van de zusters Birgittinessen aan de rand van Uden. Dus als je in de buurt bent, loop dan zeker even binnen.</p>


<dl class="dl-horizontal">
    <dt>Provincie hoofdstad</dt>
    <dd>'s-Hertogenbosch</dd>
    <dt>Oppervlakte (totaal)</dt>
    <dd>5.081,76 km²</dd>
    <dt>Oppervlakte (land)</dt>
    <dd>4.916,49 km²</dd>
    <dt>Oppervlakte (water)</dt>
    <dd>165,27 km²</dd>
    <dt>Aantal inwoners</dt>
    <dd>2.470.184 (in het jaar 2012)</dd>
    <dt>Bevolkingsdichtheid</dt>
    <dd>502 inw./km²</dd>
</dl>