<p>In 1528 werd de naam Overijssel voor het eerst gebruikt. Daarvoor sprak men over Oversticht. Het Oversticht bestond uit het Land van Vollenhove, Salland, Twente en Drenthe. De bisschop van Utrecht stond in 1528 het Sticht (Utrecht) en het Oversticht af aan keizer Karel V.</p>
<h2>Overijssel als gewest</h2>
<p>Nadat reeds in de zomer van 1665 Münsterse troepen geducht in Twenthe huisgehouden hadden, volgde in 1672 een nieuwe Münsterse inval: in weinige weken kwam heel Overijssel in de macht van Christoffel Bernard van Galen. De capitulerende steden van Overijssel verklaarden als rijkssteden de soevereiniteit van het Heilige Roomse Rijk te erkennen en de Staten onderwierpen zich in juli 1672 aan Münster, onder verklaring de band met de Unie der Verenigde Nederlanden te ontbinden.</p>
<h2>Noordoostpolder</h2>
<p>Bij het inpolderen van stukken land in het IJsselmeer en de daarvoor al bestaande eilanden (zoals Urk), was deze grond als eerste toegewezen aan de provincie van Overijssel. Later kwam Urk en de nieuwe polders onder het gezag van een nieuw op te richten province: <a href="http://locatie-informatie.nl/provincie/flevoland">Flevoland</a>.</p>
<h2>Uit in Overijssel</h2>
<p>Overijssel heeft iedereen wel wat te bieden. Van binnenblijver tot natuurjunkie, ieder mensn kan hier aan zijn trekken komen. Mits je maar goed genoeg zoekt. Wij hebben al een aantal leuke uitjes voor je op een rijtje gezet.</p>
<h3>Hellendoorn</h3>
<p>Tijdens palmpasen vindt in Hellendoorn één van de grootste palmpasenoptochten van Nederland plaats. Dus als je in de buurt bent, neem dan zeker even een kijkje!</p>
<p>Sinds 1936 is er in de buurt van Hellendoorn ook de mogelijkheid om een pretpark te bezoeken. Tegenwoordig heet het <strong>Avonturenpark Hellendoorn</strong> en kan je tijdens je bezoek gebruik maken van diverse thrill en chillrides, genieten van de zon op het terras en lopen door het pretpark.</p>
<h3>Lonneker</h3>
<p>In Lonneker is een voormalig urinoir omgetoverd tot een doorlopende expositie. Deze galerie is lokaal zeer beroemd en berucht. Dus als je van kunst houd en je bent in de buurt, loop dan zeker even binnen bij <strong>Galerie Urinoir Bezet</strong>. Als overdag geen tijd hebt, dan is dat gene probleem. De galerie is 24 uur per dag open.</p>
<h2>Overijssel in cijfers</h2>
<p>Ben jij van het type <strong>feitjeskenner</strong> blijf dan nog even hangen. Hieronder geven wij nog wat statistieken over de provincie Overijssel.</p>

<dl class="dl-horizontal">
    <dt>Provincie hoofdstad</dt>
    <dd>Zwolle</dd>
    <dt>Oppervlakte (totaal)</dt>
    <dd>3.420,86 km²</dd>
    <dt>Oppervlakte (land)</dt>
    <dd>3.325,62 km²</dd>
    <dt>Oppervlakte (water)</dt>
    <dd>95,24 km²</dd>
    <dt>Aantal inwoners</dt>
    <dd>1.138.571 (in het jaar 2012)</dd>
    <dt>Bevolkingsdichtheid</dt>
    <dd>342 inw./km²</dd>
</dl>