<p>Zeeland is nog dagelijks in gevecht met de Noordzee. De dijken en sluizen die ook onderdeel zijn van de Deltawerken houden het zeewater al een enige tijd op afstand. In 1953 ging het goed mis, de watersnoodramp in dat jaar was de directe aanleiding voor de bouw van een complexe waterkering in de rivieren en tussen de Zeeuwse eilanden.</p>
<p>Zeeland grenst aan de Nederlandse provincies Zuid-Holland en Noord-Brabant en de Belgische provincies West-Vlaanderen, Oost-Vlaanderen en (voor een klein stuk) Antwerpen.</p>
<p>Inwoners van deze waterrijke provincie worden Zeeuwen genoemd.</p>
<h2>Verdronken Land van Saeftinghe</h2>
<p>Op de grens van Nederland en België ligt een prachtig natuurgebied. Dit gebied staat bekend als <strong>Verdronken Land van Saeftinghe</strong>. Het grootste deel van het gebied ligt in het Nederlandse Zeeuws-Vlaanderen. Dit 3580 ha grote schorrengebied op de linkeroever van het estuarium van de Westerschelde is het grootste brakwaterschor van Europa.</p>
<p>Saeftinghe was in de middeleeuwen een heerlijkheid. Dat wil zeggen dat een grondgebied toebehoorde aan een heer die er met de scepter zwaaide. Tijdens de Allerheiligenvloed in 1570 gingen in Nederland al veel kustgebieden kopje onder. Ook de Zeeuwen hielden het niet droog en grote delen van Saeftinghe verdwenen in het zoute water. Uiteindelijk stak men in 1584 de dijken helemaal door en werden de laatste stukken land verzwolgen.</p>
<p>De omstreden Hedwigepolder ligt vlak naast het <em>Verdronken Land</em>.</p>
<h2>Zeeland heeft het</h2>
<p>Zeeland is zoveel meer dan polders en natte voeten. Voor wie echt wil kan in Zeeland meer dan genoeg plezier vinden. Houd er alleen rekening mee dat als jijzelf heel graag de <strong>Neeltje Jans</strong> wilt opzoeken, dat je Zeeuwse vrienden wellicht op je wachten op het terras. Zij hebben deze culturele uitspatting al een aantal keer tijdens diverse schooluitstapjes mogen meemaken.</p>
<h3>Neeltje Jans</h3>
<p>De publiekstrekker voor niet-Zeeuwen is natuurlijk de Neeltje Jans. Als onderdeel van de <strong>Oosterscheldekering</strong> is dit eilandje zichzelf al enige jaren een belangrijke schakel binnen de Deltawerken.</p>
<p>De voormalige zandplaats is 285 hectare groot en ligt halverwege de Oosterscheldekering tussen Schouwen en Noord-Beveland, maar hoort wel tot de gemeente Veere op Walcheren. De naam Neeltje Jans was ook de naam van een boot die op de zandplaat vastgelopen is. Ook is het een oude volksbenaming voor de beschermgodin Nehalennia.</p>
<p>Op het eiland is een interactief informatiecentrum geplaatst waar jong en oud het gevecht van tegen de zee van dichtbij kunnen zien. Een soortgelijk centrum is ook te vinden in het Zuid-Hollandse Hoek van Holland.</p>
<h3>Goes</h3>
<p>Goes is een van de grotere steden in Zeeland en heeft voor een aantal omliggende dorpen de voorzieningen zoals een ziekenhuis en diverse kantoren voor grotere organisaties. Het oude centrum beschikt over een ruim opgezet marktplein waar men de wekelijkse markt kan bezoeken. In de zomer vinden hier ook tal van activiteiten plaats die worden georganiseerd door de lokale gemeenschap of de gemeente zelf.</p>
<p>Aan de rand van de stad vind men de Zeelandhallen waar door het jaar heen tal van grote (en minder grote) evenementen kan bezoeken. Een van die evenementen is de jaarlijkse <strong>Contacta</strong> waar (vooral Zeeuwse) ondernemers zichzelf kunnen promoten en laten zien wat ze in huis hebben. Als men tussen alle evenementen en beurzen door nog energie over hebben, kunnen ze in de naastgelegen kartbaan of bioscoop de nodige ontspanning vinden.</p>
<h3>Vlissingen</h3>
<p>Zoals het grootste exportproduct van Zeeland al heeft bezongen, ruikt de adem van Vlissingen nog echt op een oude havenplaats. Natuurlijk is een fraaie zeekant met terrassen en een mooi uitzicht, maar als je iets verder loopt kan je de oude industriele haven van dichtbij bekijken. Hier vind je ook ergens het Arsenaal. Die mag tijdens je bezoek aan de Zeeuwsw plaats niet aan je aandacht ontglippen.</p>

<h2>Zeeland in een lijstje</h2>
<p>De feitjes liefhebbers willen natuurlijk meer weten dan alleen de leuke plekjes. Om iedereen te kunnen voorzien in de informatiebehoefte die hij of zij heeft, hebben wij hieronder een lijstje met de meest interessante cijfers gepubliceerd. Onthoud ze goed, dan maak je de blitz op het volgende feestje!</p>
<dl class="dl-horizontal">
    <dt>Provincie hoofdstad</dt>
    <dd>Middelburg</dd>
    <dt>Oppervlakte (totaal)</dt>
    <dd>2.933,89 km²</dd>
    <dt>Oppervlakte (land)</dt>
    <dd>1.787,13 km²</dd>
    <dt>Oppervlakte (water)</dt>
    <dd>1.146,76 km²</dd>
    <dt>Aantal inwoners</dt>
    <dd>381.202 (in het jaar 2012)</dd>
    <dt>Bevolkingsdichtheid</dt>
    <dd>213 inw./km²</dd>
</dl>