<p>De provincie Zuid-Holland is ontstaan uit een afsplitsing van het grote gewest Holland. Zuid-Holland is een provincie die grenst aan de Noordzee en wordt verder omsloten door Utrecht, Zeeland en Noord-Holland.</p>
<h2>Romeinen</h2>
<p>De grens van het Romeinse Rijk liep tot wij nu kennen de Oude Rijn. Langs deze grens zijn tal van forten en nederzettingen gebouwd, waaronder bij Katwijk, Valkenburg, Leiden, Alphen aan den Rijn en Zwammerdam.</p>
<p>Vlakbij Voorburg hadden de Romeinen de hoofdstad voor deze regio <em>Germania Inferior</em>. Deze nederzetting droeg de naam <em>Forum Hadriani</em></p>
<h2>Dordrecht</h2>
<p>De Zuid-Hollandse plaats Dordrecht is een van de oudste steden van Nederland en kreeg al in 1220 stadsrechten. Hierdoor bloeide de stad op maar nam ook de bedrijvigheid rond plaatsen aan de Maas toe. Er kon handel gedreven worden met Rotterdam en tal van andere plaatsen.</p>
<p>Dordrecht was de belangrijkste stad tot de Sint-Elisabethsvloeden van 1404, 1421 en 1424. Als gevolg van deze overstromingen (waarbij de Biesbosch ontstond) vergingen vele dorpen en kon Dordrecht daar geen belasting meer heffen.</p>
<h2>Tachtigjarige Oorlog</h2>
<p>Holland was ook het toneel waar een groot deel van de <strong>Tachtigjarige Oorlog</strong> werd uitgevochten. Denk hierbij aan iconische gebeurtenissen als de bevrijding van Den Briel door de Watergeuzen in 1572 en de eerste Vrij Statenvergadering in Dordrecht.</p>
<h2>Koningsdag 2015</h2>
<p>In 2015 had Koning Willem-Alexander de plaats Dordrecht uitgekozen om zijn verjaardag te vieren. Nadat hij het defile (in de vorm van een vlootschouw) had afgenomen, trok de familie per boot door het centrum van Dordrecht. Uiteindelijk sloot de Koning af met de woorden <strong>Hoe dichter bij Dordt, hoe mooier...</strong></p>
<h2>Uittips in Zuid-Holland</h2>
<p>Zuid-Holland was altijd al een levendige provincie, nog voordat het een provincie was. Tegenwoordig is er gelukkig ook nog genoeg te beleven. Wij hebben er een aantal voor je op een rijtje gezet.</p>
<h3>Den Haag</h3>
<p>Vergeet de musea waar je een verplicht rondje moet lopen en vooral niks mag aanraken. Vooral voor ondernemende basisschool kinderen is dat niet de ideale kennismaking met het stoffige verleden. Neem daarom eens een kijkje in het <strong>Museum van Communicatie</strong> (het voormalige <strong>PTT Museum</strong>) of het <strong>Museon</strong>. In de laatst genoemde zijn ook regelmatig afwisselende exposities te zien op de begane grond.</p>
<p>Minder cultureel en educatief verantwoord (maar wel erg leuk) is een bezoekje aan <strong>Madurodam</strong>. Deze miniatuurstad is goed bereikbaar en bied vele uren plezier voor jong en oud.</p>
<p>Kunstliefhebbers kunnen hun hart ophalen in het <strong>Gemeente Museum (GEM)</strong>, <strong>Het Mauritshuis</strong> en in het voormalige werkpaleis van Konigin Wilhelmina bij de expositie <strong>Escher in Het Paleis</strong></p>
<h3>Leiden</h3>
<p>Leiden zelf is al een belevenis op zich. Tal van terassen en een prachtig oud centrum. Maar, als je dan toch ergens naar binnen wilt vergeet dan zeker niet om <strong>Naturalis</strong> te bezoeken. Heb je nog tijd over loop dan ook nog naar het <strong>Museum van Oudheden</strong> waar je een ruime collectie treft en in elk geval cultureel verantwoord weer de stad kan verlaten.</p>
<p>Als je wilt weten hoe de mens er van binnen uitziet, ga dan even richting de A4. Hier staat het levensgrote <strong>CORPUS 'reis door de mens'</strong>.</p>
<h3>Scheveningen</h3>
<p>Als je al die musea zat bent of je bent op zoek naar zon, ga dan even naar de kust. Zowel in Katwijk als Scheveningen zijn er tal van strandtenten waar je een heerlijk drankje kan doen en kan uitwaaien op de boulevard. Als je op Scheveningen echt niks kan vinden, probeer het dan even op Kijduin.</p>
<h2>Feitjes</h2>
<p>Voor de echte feitjes fanaten zetten we er een paae op een rijtje.</p>

<dl class="dl-horizontal">
    <dt>Provincie hoofdstad</dt>
    <dd>Den Haag</dd>
    <dt>Oppervlakte (totaal)</dt>
    <dd>3.418,50 km²</dd>
    <dt>Oppervlakte (land)</dt>
    <dd>2.814,69 km²</dd>
    <dt>Oppervlakte (water)</dt>
    <dd>603,81 km²</dd>
    <dt>Aantal inwoners</dt>
    <dd>3.560.205 (in het jaar 2012)</dd>
    <dt>Bevolkingsdichtheid</dt>
    <dd>1265 inw./km²</dd>
</dl>