<p>Gelderland is, naar landoppervlakte, de grootste provincie van Nederland. Qua totale oppervlakte, inclusief wateroppervlakte, is Friesland de grootste provincie. Arnhem is de hoofdstad van Gelderland. Nijmegen is de grootste stad van de provincie.</p>
<p>Bekende gebieden in Gelderland zijn vooral <strong>De Achterhoek</strong>, <strong>Rijk van Nijmegen</strong>, de <strong>Veluwezoom</strong>, de <strong>Liemers</strong>, de <strong>Gelderse Vallei</strong>, de <strong>Bommelerwaard</strong>, de <strong>Tielerwaard</strong>, het <strong>Land van Maas en Waal</strong> en de <strong>IJsselvallei</strong>. Alle genoemde gebieden zijn stuk voor stuk de moeite waard om te bezoeken als je in de buurt bent.</p>
<h2>Rampjaar 1672</h2>
<p>Het jaar 1672 staat in de Nederlandse geschiedenis bekend als het Rampjaar. In dit jaar begon de Hollandse Oorlog en werd de Republiek der Zeven Verenigde Nederlanden aangevallen door Frankrijk (met steun van Engeland), Münster en Keulen, onder leiding van Bernard von Galen en Maximiliaan Hendrik van Beieren. De kracht van de Republiek lag bij de Hollandse vloot, maar aan het landleger werd niet veel aandacht geschonken, onderhoud voor vestingwerken werd verwaarloosd, en de grenssteden langs de Rijn zoals Bredevoort, Groenlo, Rijnberk, Rees, Wesel en Emmerik waren volgens afspraak door genoeg soldaten bezet, maar de gevechtskracht van deze steden had niet veel meer om het lijf.</p>
<p>Er was grote paniek in het land. Volgens een beroemd Nederlands gezegde was het volk destijds redeloos, het land reddeloos en de regering radeloos. Met name de Fransen hielden flink huis, zij brachten veel schade aan.</p>
<p>In 1674 kwamen de verschillende bisdommen en Engeland tot een nieuw vredesverdrag. Maar het zou nog jaren duren voordat de rust in de regio was hersteld en de vorming van het huidige Nederland werd voltooid.</p>
<h2>Toeristisch Gelderland</h2>
<p>Gelderland heeft een aantal mooie locaties in de aanbieding die de toerist in hogere sferen brengt. Van oude legenden tot geheel cultureel verantwoord naar het openluchtmuseum. Hieronder geven we een korte selectie van alles wat Gelderland te bieden heeft.</p>
<h3>Babberich</h3>
<p>Wellicht ken je <strong>Babberich</strong> alleen maar van het laatste verkeersbord op de A12, vlak voor de grensovergang naar Duitsland. </p>
<p>Dit dorp is vooral bekend om het landgoed en kasteel <strong>Halsaf</strong>, ook wel bekend als <strong>Huize Babberich</strong>. Het huis wordt in akten uit 1363 en 1380 vermeld, en stamt mogelijk uit de 14e eeuw. Het is onbekend wie de stichter was van dit kasteel.</p>
<p>Babberich kent nog een oude schutterij met bijbehorende tradities. Elk jaar is er het schuttersfeest en het hele dorp doet daaraan mee. Van oudsher voert de kasteelheer van Halsaf de schutterij aan. Tegenwoordig is dit vooral een ceremoniële aangelegenheid. De huidige kasteelheer is voor zover bekend geen lid van de schutterij, maar is tijdens het jaarlijkse schuttersfeest wel de voorman van de schutterij.</p>
<h3>Arnhem</h3>
<p>Arnhem staat bekend als groene stad. Dit komt door de vele en grote parken, maar ook door de ligging aan de zuidrand van de Veluwe.</p>
<p>Wat echt niet mag ontbreken is een bezoek aan het <strong>Nederlands Openluchtmuseum</strong>. Dit is het grootste en bekendste openluchtmuseum van ons land. Voor liefhebbers van oorlogstuig is er ook wat wils. Neem in dat geval eens een kijkje in het <strong>Arnhems Oorlogsmuseum 40-45</strong>.</p>
<h3>Schaarsbergen</h3>
<p>Sinds jaar en dag is Schaarsbergen het bolwerk van de luchtmobiele brigade. Voorheen werd de Oranjekazerne bevolkt door onder andere de garderegimenten, grenadiers en jagers. De luchtmobiele brigade heeft sinds haar oprichting in 1992 de gebruiken en tradities overgenomen van de hier gelegerde onderdelen.</p>
<p>Veel (voormalig) dienstplichtigen hebben in Schaarsbergen een deel van hun training voldaan. De kazerne heeft een beschikking over een groot stuk land waar ook een aantal schietbanen zijn te vinden.</p>
<h3>Apeldoorn</h3>
<p>Denk je aan <strong>Apeldoorn</strong> dan denk je al snel aan de <strong>Apenheul</strong>. Zo dicht ben je nog nooit bij de apen geweest! Door het gehele park lopen kleine aapjes tussen het publiek. Het park is verder prachtig ingericht en een absolute aanrader voor jong en oud!</p>
<h2>Gelderland in cijfers</h2>
<p>Natuurlijk weet iedereen dat Arnhem de <strong>hoofdstad van Gelderland</strong> is. Maar wist jij ook dat er nog geen 170 vierkante kilometer water in de provincie te vinden is? Procentueel en absoluut is dit wellicht wel een van de droogste provincies die wij kennen in Nederland.</p>
<dl class="dl-horizontal">
    <dt>Provincie hoofdstad</dt>
    <dd>Arnhem</dd>
    <dt>Oppervlakte (totaal)</dt>
    <dd>5.136,51 km²</dd>
    <dt>Oppervlakte (land)</dt>
    <dd>4.971,76 km²</dd>
    <dt>Oppervlakte (water)</dt>
    <dd>164,75 km²</dd>
    <dt>Aantal inwoners</dt>
    <dd>2.013.903 (in het jaar 2012)</dd>
    <dt>Bevolkingsdichtheid</dt>
    <dd>405 inw./km²</dd>
</dl>